html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Arial', sans-serif;
}
p, h2{
  margin: 0px;
}
body{
    margin: 0 auto;
}

.block-all{
  display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    width: 1400px;
    margin-top: 150px;
}

.block-item{
  background-color: #a4c34a;
  align-items: center;
    box-shadow: 0px 50px 30px -15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: absolute;
    transform-origin: bottom;
    width: 200px;


  animation-name: moving;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 0s;
}

.block-all:hover .block-item{
  cursor: pointer;
  animation-play-state: paused;
}

.block-item--dimych {
  animation-delay: -3s;
}

.block-item--simka {
  animation-delay: -6s;
}

.block-item--nolik {
  animation-delay: -9s;
}

.block-item--fire {
  
  animation-delay: -12s;
}

.block-item--ygrek {
  animation-delay: -15s;
}

.block-item--spula {
  animation-delay: -18s;
}

.block-item--verta {
  animation-delay: -21s;
}


@keyframes moving { 
  0% { 
      z-index: -1;
      transform: translateX(1220px) scale(0.65);
  }
  14.3% {
      z-index: 0;
      transform: translateX(0) scale(0.65);
  }
  28.6% {
      transform: translateX(180px) scale(0.8);
  }
  42.9% {
      transform: translateX(390px) scale(1);
  }
  57.7% {
      transform: translateX(630px) scale(1);
  }
  71.5% {
      transform: translateX(840px) scale(1);
  }
  85.8% {
      transform: translateX(1040px) scale(0.8);
  }
  100% {
      z-index: 10;
      transform: translateX(1220px) scale(0.65);
  }  
}

.block-item-img-content{
max-width: 150px;
max-height: 150px;
margin-bottom: 30px;
}
.block-item-title{
  color: #ffffff;
  margin-bottom: 30px;
}
.block-item-text{
  color: rgb(6, 6, 68);
  margin: 0px 10px;
  font-size: 14px;
  width: 180px;
}


/* .block-item--dimych {
  transform: scale(0.65); 
  animation: moving-dimych 20s linear 0s infinite normal;
  z-index: 10;
}  
.block-item--simka {
  transform: scale(0.8); 
  animation:  moving-simka 20s linear 0s infinite normal;
  z-index: 10;
}
.block-item--nolik {
  transform: scale(1); 
  animation:  moving-nolik 20s linear 0s infinite normal;
  z-index: 10;
}
.block-item--fire {
  transform: scale(1); 
  animation:  moving-fire 20s linear 0s infinite normal;
  z-index: 10;
}
.block-item--ygrek {
  transform: scale(1); 
  animation:  moving-ygrek 20s linear 0s infinite normal;
  z-index: 10;
} 
.block-item--spula {
  transform: scale(0.80); 
  animation:  moving-spula 20s linear 0s infinite normal;
  z-index: 10;
} 
.block-item--verta {
  transform: scale(0.65); 
  animation:  moving-verta 20s linear 0s infinite normal;
  z-index: 10;
}  

@keyframes moving-dimych {
  0%{
    transform: translateX(0px) scale(0.65);
    z-index: 10;
  }
  14.29%{
    transform: translateX(210px) scale(0.8);
    z-index: 10;
  }
  28.57%{
    transform: translateX(420px) scale(1);
    z-index: 10;
  }
  42.86%{
    transform: translateX(630px) scale(1);
    z-index: 10;
  }
  57.15%{
    transform: translateX(840px) scale(1);
    z-index: 10;
  }
  71.44%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
  85.73%{
    transform: translateX(1260px) scale(0.65);
    z-index: 0;
  }
  100%{
    transform: translateX(0px) scale(0.65);
    z-index: 10;
  }
}

@keyframes moving-simka {
  0%{
    transform: translateX(210px) scale(0.8);
    z-index: 10;
  }
  14.29%{
    transform: translateX(420px) scale(1);
    z-index: 10;
  }
  28.57%{
    transform: translateX(630px) scale(1);
    z-index: 10;
  }
  42.86%{
    transform: translateX(840px) scale(1);
    z-index: 10;
  }
  57.15%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
  71.44%{
    transform: translateX(1260px) scale(0.65);
    z-index: 0;
  }
  85.73%{
    transform: translateX(0px) scale(0.65);
    z-index: 10;
  }
  100%{
    transform: translateX(210px) scale(0.8);
    z-index: 10;
  }
}

@keyframes moving-nolik {
  0%{
    transform: translateX(420px) scale(1);
    z-index: 10;
  }
  14.29%{
    transform: translateX(630px) scale(1);
    z-index: 10;
  }
  28.57%{
    transform: translateX(840px) scale(1);
    z-index: 10;
  }
  42.86%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
  57.15%{
    transform: translateX(1260px) scale(0.65);
    z-index: 0;
  }
  71.44%{
    transform: translateX(0px) scale(0.65);
    z-index: 0;
  }
  85.73%{
    transform: translateX(210px) scale(0.8);
    z-index: 10;
  }
  100%{
    transform: translateX(420px) scale(1);
    z-index: 10;
  }
}

@keyframes moving-fire {
  0%{
    transform: translateX(630px) scale(1);
    z-index: 10;
  }
  14.29%{
    transform: translateX(840px) scale(1);
    z-index: 10;
  }
  28.57%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
  42.86%{
    transform: translateX(1260px) scale(0.65);
    z-index: 0;
  }
  57.15%{
    transform: translateX(0px) scale(0.65);
    z-index: 10;
  }
  71.44%{
    transform: translateX(210px) scale(0.8);
    z-index: 0;
  }
  85.73%{
    transform: translateX(420px) scale(1);
    z-index: 10;
  }
  100%{
    transform: translateX(630px) scale(1);
    z-index: 10;
  }
}

@keyframes moving-ygrek {
  0%{
    transform: translateX(840px) scale(1);
    z-index: 10;
  }
  14.29%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
  28.57%{
    transform: translateX(1260px) scale(0.65);
    z-index: 0;
  }
  42.86%{
    transform: translateX(0px) scale(0.65);
    z-index: 10;
  }
  57.15%{
    transform: translateX(210px) scale(0.8);
    z-index: 10;
  }
  71.44%{
    transform: translateX(420px) scale(1);
    z-index: 0;
  }
  85.73%{
    transform: translateX(630px) scale(1);
    z-index: 10;
  }
  100%{
    transform: translateX(840px) scale(1);
    z-index: 10;
  }
}

@keyframes moving-spula {
  0%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
  14.29%{
    transform: translateX(1260px) scale(0.65);
    z-index: 0;
  }
  28.57%{
    transform: translateX(0px) scale(0.65);
    z-index: 10;
  }
  42.86%{
    transform: translateX(210px) scale(0.8);
    z-index: 10;
  }
  57.15%{
    transform: translateX(420px) scale(1);
    z-index: 10;
  }
  71.44%{
    transform: translateX(630px) scale(1);
    z-index: 0;
  }
  85.73%{
    transform: translateX(840px) scale(1);
    z-index: 10;
  }
  100%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
}


@keyframes moving-verta {
  0%{
    transform: translateX(1260px) scale(0.65);
    z-index: 0;
  }
  14.29%{
    transform: translateX(0px) scale(0.65);
    z-index: 10;
  }
  28.57%{
    transform: translateX(210px) scale(0.8);
    z-index: 10;
  }
  42.86%{
    transform: translateX(420px) scale(1);
    z-index: 10;
  }
  57.15%{
    transform: translateX(630px) scale(1);
    z-index: 10;
  }
  71.44%{
    transform: translateX(840px) scale(1);
    z-index: 0;
  }
  85.73%{
    transform: translateX(1050px) scale(0.8);
    z-index: 10;
  }
  100%{
    transform: translateX(1260px) scale(0.65);
    z-index: 10;
  }
} */
